p {
    margin-bottom: .2rem;
}

.scrollbehavior::-webkit-scrollbar {
        display: none;
}

.endAnim {
    max-width: 15rem;
    margin: auto;
}

#pourcentageAdv{
    padding: 10px;
    color: #464646;
}

.msgBot {
    background-color: #dedbe1;
    padding: 10px 15px;
    text-align: left;
    border-radius: 15px;
    margin: 10px auto 10px 10px;
    width: auto;
    max-width: 90%;
    transform: scale(.80);
    transition: all .2s ease-out;
    white-space: pre-wrap;
}

.msgUser {
    background-color: #6219D8;
    color: white;
    padding: 10px 15px;
    text-align: left;
    border-radius: 15px;
    margin: 10px 10px 10px auto;
    width: auto;
    max-width: 90%;
    transform: scale(.80);
    transition: all .2s ease-out;
    word-break: break-word;
}

.userBtnInput {
    border-radius: 15px;
    background: #FAF7FF;
    box-shadow: 3px 3px 7px #e1dee6,
        -3px -3px 7px #ffffff;
    padding: 8px;
    transform: scale(.90);
    opacity: 0;
    transition: all .2s ease-out;
    cursor: pointer;
    text-align: center;
}

.userBtnInput:hover{
    transform: scale(1.03) !important;
}

.userFieldInput{
    background-color: #f3f1f9;
    border-width: 0;
    border-radius: 10px;
    padding: 10px;
}

.btnEnvoyer{
    max-width: 150px !important;
    background-color: #6219D8;
    color: white;
    font-weight: bold;
}


/** 5 star rating **/
.rate {
    width: fit-content;
    float: left;
    height: 40px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:2rem;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rate > * {
    transition: all .2s ease-out;
}
