body {
    font-family: 'Raleway', sans-serif;
    background-color: #FAF7FF;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

main {
    transition: all .2s ease-in-out;
}

.nav-link {
    color: black;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Lexend Deca;
}

.rtnTitle {
    font-family: Lexend Deca;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
}

.shySubTitle {
    opacity: .75;
    font-size: 1rem;
    font-weight: normal;
}

.demoBtn {
    color: white !important;
    background-color: #6219D8;
    border-radius: 12px;
    transition: all .3s ease-in-out;
    border-width: 0px;
}

.demoBtn:hover {
    transform: scale(1.03);
}


.violetSmButton {
    background-color: #6219D8;
    color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border-width: 0;
}

.violetSmButton:hover {
    transform: scale(1.05);
}

.neuCarte {
    border-radius: 18px;
    background: #FAF7FF;
    transition: all .3s ease-in-out;
    box-shadow: 8px 8px 16px #ebe8f0,
        -8px -8px 16px #ffffff;
}

.neuProjet {
    border-radius: 18px;
    background: #FAF7FF;
    transition: all .3s ease-in-out;
    box-shadow: 8px 8px 16px #ebe8f0,
        -8px -8px 16px #ffffff;
    height: 100%;
    width: 100%;
    cursor: pointer;
    min-height: 200px;
}

.neuProjet:hover {
    transform: scale(1.03);
}

.neuProjetSimple {
    transition: all .3s ease-in-out;
    border-radius: 31px;
    background: #FAF7FF;
    box-shadow: 5px 5px 14px #e9e6ed,
        -5px -5px 14px #ffffff;
    margin: 10px;
}

.sondInfo {
    font-size: 1rem;
    opacity: .8;
    padding-left: 20px;
}

.serverFeedback {
    color: #E74C3C;
}

.canvContain {
    margin: auto;
    padding: 30px 0px;
    width: 90%;
    max-height: 300px;
}

.btn-primary {
    background-color: #C8C5CC;
    border-width: 0;
    color: black;
}

.btn-primary:hover {
    background-color: #6219D8;
}

.offreTitle {
    font-family: Lexend Deca;
    font-size: 1.4rem;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.inputRtn {
    border-width: 0px;
    background-color: #f1f1f1;
    max-width: 500px;
    margin: auto;
    padding: 25px 15px;
    border-radius: 10px;
}

.g-recaptcha>* {
    margin: auto;
}

.swal-footer {
    text-align: center !important;
}

.screenBtn {
    font-family: Lexend Deca;
    font-size: .8rem;
    width: fit-content;
    border-radius: 12px;
    background: #FAF7FF;
    box-shadow: 6px 6px 12px #ebe8f0, -6px -6px 12px #ffffff;
    color: #585858;
    cursor: pointer;
    border-width: 0px;
    padding: 10px;
    transition: all .8s cubic-bezier(.25, .8, .25, 1);
    margin-top: 5px;
}

.nbRepGraph {
    font-size: .8rem;
    opacity: .9;
}

.nomSondageChamp {
    border-radius: 10px;
    border-width: 0;
    background-color: white;
    padding: 10px 20px;
    font-size: 1.8rem;
    text-align: center;
}




:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #6219D8;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Lexend Deca';
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    font-size: 1.5rem;
    cursor: pointer;
}

#header-toggle {
    color: white;
    background-color: #6219D8;
    padding: 5px;
    border-radius: 50%;
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    font-family: var(--body-font);
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 3px;
    height: 32px;
    background-color: var(--white-color);
    border-radius: 10px;
}

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + .6rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + .6rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}

/* Float */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

/* Bounce In */
.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.threeDot {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 0px;
    margin: 14px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnExport {
    border-radius: 10px;
    border-style: dashed;
    border-color: grey;
    background-color: transparent;
    border-width: 1.5px;
    width: fit-content;
    padding: 7px;
    margin: 5px;
    font-size: .9rem;
}

.liveBtn {
    position: absolute;
    right: 15px;
    top: 15px;
    animation: breathing 5s ease-out infinite;
    font-size: .9rem;
    color: #E74C3C;
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.97);
        -ms-transform: scale(0.97);
        transform: scale(0.97);
    }

    50% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.97);
        -ms-transform: scale(0.97);
        transform: scale(0.97);
    }

}