.iphone-x {
    position: relative;
    aspect-ratio: 9 / 18;
    width: 90%;
    max-height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 3px #414141, 0px 0px 0px 3px #414141, 0px 0px 0px 12px #414141;
    padding: 0px 3px;
    padding-top: 25px;
}

.iphone-x > * {
    font-size: .9rem !important;
}

.iphone-x:before,
.iphone-x:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.iphone-x:after {
    bottom: 7px;
    width: 140px;
    height: 4px;
    background-color: #41414148;
    border-radius: 10px;
}

.iphone-x:before {
    top: 0px;
    width: 50%;
    height: 25px;
    background-color: #414141;
    border-radius: 0px 0px 20px 20px;
}