body{
    font-family: 'Raleway', sans-serif;
}
p {
    margin-bottom: .2rem;
}

.msgBot{
    background-color: #d3d0d7;
    padding: 10px 15px;
    text-align: left;
    border-radius: 15px;
    margin: 10px auto 10px 10px;
    width: auto;
    max-width: 90%;
}
.msgUser{
    background-color: #6219D8;
    color: white;
    padding: 10px 15px;
    text-align: left;
    border-radius: 15px;
    margin: 10px 10px 10px auto;
    width: auto;
    max-width:90%;
}