.neuProjetSimple {
    transition: all .3s ease-in-out;
    border-radius: 31px;
    background: #FAF7FF;
    box-shadow: 5px 5px 14px #e9e6ed,
        -5px -5px 14px #ffffff;
     margin: 10px; 
}

.nbRepGraph {
    font-size: .8rem;
    opacity: .9;
    display:inline-block;
}

.canvContain {
    margin: auto;
    padding: 30px 0px;
    width: 90%;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.screenBtn {
    font-family: Lexend;
    font-size: .8rem;
    width: fit-content;
    border-radius: 12px;
    background: #FAF7FF;
    box-shadow: 6px 6px 12px #ebe8f0, -6px -6px 12px #ffffff;
    color: #585858;
    cursor: pointer;
    border-width: 0px;
    padding: 10px;
    transition: all .8s cubic-bezier(.25, .8, .25, 1);
    margin-top: 5px;
}

.rtnFilterSelect {
    border-radius: 8px;
    padding: 6px 10px;
    margin: 0px 5px;
    min-width: 100px;
    max-width: 180px;
}

.btnDash {
    font-size: 1.1rem;
    border-radius: 24px;
    border-width: 0px;
    padding: 15px 10px;
    height: 48%;
    min-height: 80px;
}

.starContain {
    width: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    background-color: #00000008;
    border-radius: 20px;
}

.stars {
    position: relative;
    white-space: nowrap;
}

.star svg {
    width: 20px;
}

.cover {
    background: white;
    height: 100%;
    overflow: hidden;
    mix-blend-mode: color;
    position: absolute;
    top: 0;
    right: 0;
}

svg {
    fill: gold;
}